.data-offerings{
    display: flex;
    justify-content: space-between;
}
.offerings-card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    padding: 30px 20px;
    margin: 40px 0;
    border-radius: 20px;
    max-width: 550px!important;
    background-color: #fff;
}

.O-sub{
    margin-bottom: 50px!important;
}

.left-img{
    background: url(../../image/Offerings_left-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 550px;
    border-radius: 20px;
}

.right-img{
    background: url(../../image/Offerings_right-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 550px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .data-offerings {
        flex-direction: column;
        align-items: center;
    }

    .offerings-card {
        max-width: 100%;
    }

    .left-img,
    .right-img {
        width: 100%;
    }
    .offerings-card{
        margin: 20px 0;
    }

    .left-side{
        margin-bottom: 30px;
    }

    .O-sub {
        margin-bottom: 80px !important;
    }
}

@media screen and (max-width: 768px) {

    .left-img,
    .right-img {
        height: 200px;
    }

    .O-sub {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 576px) {
    .offerings-card {
        margin: 20px 0;
    }

    .left-img,
    .right-img {
        height: 150px;
    }
}

@media screen and (max-width: 350px) {
    .left-img,
    .right-img {
        height: 120px;
    }
}
